<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Your ticket here: http://localhost:3000/ticket/<%= @ticket.id %>-<%= @token.token %>
</body>
</html>