- unless @ticket.responses.blank?
  %h1 Responses
  %ul.responses
    - @ticket.responses.each do |response|
      %li
        %span.date= response.created_at.to_time.strftime('%B %e at %l:%M %p')
        %span Author:
        = response.name
        = mail_to response.email
        .response
          = simple_format(h response.message)