/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{font-family: "Arial";font-size:10pt;margin:10px;}
ul{list-style:none;margin:0;padding:0;}
ul li{float:left;margin-right:7px;padding:2px;}
table{width:100%}
table tr th{text-align:left;padding:3px;border:1px #ccc solid;background-color:#eee;}
table tr td{border:1px #ccc solid;padding:3px;}
.container{clear:both;padding-top:10px;}
.message{min-height:30px;padding:5px;background-color:#eee;margin-top:10px;vertical-align:top;}
.response{vertical-align:top;background-color:#eee;height:45px;}
.token{display:block;}
.find{width:375px;padding:7px 0;}
.find .input label{width:70px;}
.find .input button{float:right;}
.responses li{float:none;}
.responses li div{padding:3px;margin:7px 0;}
.responses li div span{padding:0 3px;font-weight:bold;}
.responses li div .date{font-style:italic;font-weight:normal;padding-left:0;}
.responses li div a{margin-left:5px;}
.ticket span{padding:0 3px;font-weight:bold;}
.ticket .date{font-style:italic;font-weight:normal;padding-left:0;}
.ticket a{margin-left:5px;}