// Place all the styles related to the Ticket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input{margin:6px;}
label{display:inline-block;width:150px;margin-right:5px;margin-top:3px;vertical-align:top;}
input, select{min-width:200px;}
textarea{width:500px;height:300px;}